body {
  background-color: #202124;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-weight: normal;
  line-height: 1.5rem;
}

#top-bar {
  position: relative;
  display: flex;
  width: 100%;
}

#top-bar .logo {
  align-self: center;
  justify-self: center;
  width: 30%;
  margin: auto;
  margin-top: 15px;
}

#top-bar div {
  width: 4%;
  position: absolute;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

#top-bar a {
  width: 100%;
  display: flex;
}

#top-bar div:hover {
  cursor: pointer;
}

#top-bar div:active {
  width: 3.9%;
}

#top-bar a .icon {
  width: 100%;
}

#choose-area {
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#choose-left {
  background: darkred;
  box-shadow: inset -10px -10px 1px 0px #500000;
}

#choose-left:active {
  box-shadow: inset 10px 10px 1px 0px #740000;
}

#choose-right {
  background: #454bff;
  box-shadow: inset -10px -10px 1px 0px #272eff;
}

#choose-right:active {
  box-shadow: inset 10px 10px 1px 0px #3a40ff;
}

#add-options-form-area {
  flex-wrap: wrap;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.choose-button {
  cursor: pointer;
  color: white;
  font-size: 15pt;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 400px;
  height: 400px;
  border: none;
}

.add-options-button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
}

.confirm-options-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#confirm-button {
  margin-right: 20px;
  background-color: #65a965;
  box-shadow: inset -5px -5px 1px 0px #3f6e35;
}

#confirm-button:active {
  box-shadow: inset 5px 5px 1px 0px #548e47;
}

#confirm-button img {
  width: 80%;
  margin: auto;
}

#confirm-button:active img {
  width: 70%;
}

#cancel-button {
  text-align: center;
  font-size: 20pt;
  color: white;
  background-color: #b93f3f;
  box-shadow: inset -5px -5px 1px 0px #892626;
}

#cancel-button:active {
  font-size: 18pt;
  box-shadow: inset 5px 5px 1px 0px #7e2f2f;
}

#or-span {
  font-size: 15pt;
  color: white;
  margin: 0 10px;
}

#add-question-area {
  margin-top: 25px;
  margin-bottom: 20px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-question-span {
  margin-left: 15px;
}

#add-question-button {
  cursor: pointer;
  color: lightblue;
  width: 90px;
  height: 35px;
  margin-left: 15px;
  margin-right: 10px;
  border: 1px solid lightblue;
  background-color: transparent;
}

#add-question-button:active {
  color: #202124;
  border: 1px solid #9cd6e9;
  background-color: lightblue;
}

#add-options-desc {
  margin-top: 0;
  color: white;
  padding: 0 30px;
  text-align: justify;
  margin-bottom: 30px;
}

#or-span {
  font-size: 15pt;
  color: white;
  margin: 10px 0;
}

.option-input {
  height: 26px;
  width: 300px;
  font-size: 10pt;
  border: none;
}

.option-input:focus {
  outline: none;
}

#option-1-input {
  background-color: #c3b0b0;
  border: 1px solid red;
}

#option-2-input {
  background-color: #afb4d9;
  border: 1px solid #0008ff;
}

@media (max-width: 600px) {
  #top-bar .logo {
    width: 50%;
  }
  #top-bar div {
    width: 7%;
    right: 2%;
  }
  #top-bar div:active {
    width: 6%;
  }
  .choose-button {
    width: 300px;
    height: 300px;
    font-size: 10pt;
  }
  #add-question-area {
    font-size: 10pt;
  }
  #add-question-span {
    width: 60%;
  }
}
